In [15]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import scipy
import datetime
import tqdm

In [5]:
def autocross(x, y):
    c = scipy.signal.correlate(x, y, mode="same")
    v = np.array([c[i]/( len(x)-abs( i - (len(x)/2)  ) ) for i in range(len(c))])
    return v

In [6]:
def autocorr5(x):
    mean=x.mean()
    var=numpy.var(x)
    xp=x-mean
    corr=scipy.signal.correlate(xp,xp,mode='full')[len(x)-1:]/var/len(x)
    return np.array(corr)

In [7]:
df = pd.read_csv('../database/clean_train_data_v4.csv', index_col = 0)

In [8]:
df.head()

,LATITUDE,LONGITUDE,ELEVATION,HourlyAltimeterSetting,HourlyDewPointTemperature,HourlyDryBulbTemperature,HourlyPresentWeatherType,HourlyPressureTendency,HourlyRelativeHumidity,HourlySkyConditions,...,HourlyStationPressure,HourlyWetBulbTemperature,HourlyWindDirection,HourlyWindSpeed,YEAR,MONTH,DAY,HOUR,MINUTES,TARGETS
118582,27.155831,77.960892,167.94,29.700939,61.0,81.0,8,9.0,66.0,FEW:02 15 FEW:01,...,28.23201,62.803244,113.0,3.0,1942,8,24,7,30,99.42
755013,27.155831,77.960892,167.94,29.700939,61.0,81.0,8,9.0,66.0,FEW:02 15 FEW:01,...,28.23201,62.803244,113.0,8.0,1942,8,24,8,30,99.42
824694,27.155831,77.960892,167.94,29.700939,61.0,81.0,8,9.0,66.0,FEW:02 15 FEW:01,...,28.23201,62.803244,135.0,8.0,1942,8,24,9,30,99.42
830375,27.155831,77.960892,167.94,29.700939,61.0,81.0,2,9.0,66.0,SCT:04 15,...,28.23201,62.803244,135.0,9.0,1942,8,24,10,30,99.42
680093,27.155831,77.960892,167.94,29.700939,61.0,81.0,8,9.0,66.0,BKN:06 FEW:01,...,28.23201,62.803244,135.0,8.0,1942,8,24,11,30,99.42

In [12]:
df.drop(columns=['HourlySkyConditions']).info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 934807 entries, 118582 to 893344
Data columns (total 20 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   LATITUDE                   934807 non-null  float64
 1   LONGITUDE                  934807 non-null  float64
 2   ELEVATION                  934807 non-null  float64
 3   HourlyAltimeterSetting     934807 non-null  float64
 4   HourlyDewPointTemperature  934807 non-null  float64
 5   HourlyDryBulbTemperature   934807 non-null  float64
 6   HourlyPresentWeatherType   934807 non-null  int64
 7   HourlyPressureTendency     934807 non-null  float64
 8   HourlyRelativeHumidity     934807 non-null  float64
 9   HourlySeaLevelPressure     934807 non-null  float64
 10  HourlyStationPressure      934807 non-null  float64
 11  HourlyWetBulbTemperature   934807 non-null  float64
 12  HourlyWindDirection        934807 non-null  float64
 13  HourlyWindSpeed            934807 non-null  float64
 14  YEAR                       934807 non-null  int64
 15  MONTH                      934807 non-null  int64
 16  DAY                        934807 non-null  int64
 17  HOUR                       934807 non-null  int64
 18  MINUTES                    934807 non-null  int64
 19  TARGETS                    934807 non-null  float64
dtypes: float64(14), int64(6)
memory usage: 182.0 MB

In [20]:
df.head()

,LATITUDE,LONGITUDE,ELEVATION,HourlyAltimeterSetting,HourlyDewPointTemperature,HourlyDryBulbTemperature,HourlyPresentWeatherType,HourlyPressureTendency,HourlyRelativeHumidity,HourlySkyConditions,...,HourlyWetBulbTemperature,HourlyWindDirection,HourlyWindSpeed,YEAR,MONTH,DAY,HOUR,MINUTES,TARGETS,DateTime
118582,27.155831,77.960892,167.94,29.700939,61.0,81.0,8,9.0,66.0,FEW:02 15 FEW:01,...,62.803244,113.0,3.0,1942,8,24,7,30,99.42,1942-08-24 07:30:00
755013,27.155831,77.960892,167.94,29.700939,61.0,81.0,8,9.0,66.0,FEW:02 15 FEW:01,...,62.803244,113.0,8.0,1942,8,24,8,30,99.42,1942-08-24 08:30:00
824694,27.155831,77.960892,167.94,29.700939,61.0,81.0,8,9.0,66.0,FEW:02 15 FEW:01,...,62.803244,135.0,8.0,1942,8,24,9,30,99.42,1942-08-24 09:30:00
830375,27.155831,77.960892,167.94,29.700939,61.0,81.0,2,9.0,66.0,SCT:04 15,...,62.803244,135.0,9.0,1942,8,24,10,30,99.42,1942-08-24 10:30:00
680093,27.155831,77.960892,167.94,29.700939,61.0,81.0,8,9.0,66.0,BKN:06 FEW:01,...,62.803244,135.0,8.0,1942,8,24,11,30,99.42,1942-08-24 11:30:00

In [25]:
location = []
for idx in tqdm.tqdm(range(len(df))):
    location.append(tuple([df.LATITUDE[idx], df.LONGITUDE[idx]]))

df['Location'] = pd.Series(location)

100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 934807/934807 [00:38<00:00, 24233.93it/s]

In [26]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 934807 entries, 118582 to 893344
Data columns (total 17 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   LATITUDE                   934807 non-null  float64
 1   LONGITUDE                  934807 non-null  float64
 2   ELEVATION                  934807 non-null  float64
 3   HourlyAltimeterSetting     934807 non-null  float64
 4   HourlyDewPointTemperature  934807 non-null  float64
 5   HourlyDryBulbTemperature   934807 non-null  float64
 6   HourlyPresentWeatherType   934807 non-null  int64
 7   HourlyPressureTendency     934807 non-null  float64
 8   HourlyRelativeHumidity     934807 non-null  float64
 9   HourlySeaLevelPressure     934807 non-null  float64
 10  HourlyStationPressure      934807 non-null  float64
 11  HourlyWetBulbTemperature   934807 non-null  float64
 12  HourlyWindDirection        934807 non-null  float64
 13  HourlyWindSpeed            934807 non-null  float64
 14  TARGETS                    934807 non-null  float64
 15  DateTime                   934807 non-null  datetime64[ns]
 16  Location                   934807 non-null  object
dtypes: datetime64[ns](1), float64(14), int64(1), object(1)
memory usage: 160.6+ MB

In [28]:
df.Location.value_counts()

(26.760594, 80.889339)              315313
(23.287828, 69.670147)              119271
(26.739708, 83.449708)              101532
(25.160219, 75.84563100000001)      100011
(27.155831, 77.960892)               86740
(28.0, 73.3)                         50678
(25.2333333, 86.95)                  36070
(27.5666666, 81.6)                   21667
(28.25, 74.9166666)                  16416
(27.05, 88.2666666)                  14668
(32.6666666, 74.83333329999999)      13673
(25.0333333, 88.1333333)             13428
(27.3333333, 88.6166666)              6697
(27.6166666, 75.1333333)              6063
(24.466666600000003, 74.9)            5456
(27.8833333, 78.06666659999999)       4201
(25.9833333, 79.5)                    3100
(26.516666600000004, 93.9833333)      3079
(27.0666666, 88.4666666)              3020
(25.166666600000003, 93.0166666)      2979
(23.3166666, 77.83333329999999)       2936
(24.266666600000004, 87.25)           2781
(34.4333333, 75.7666666)              1949
(25.666666600000003, 78.4666666)      1547
(27.9, 80.8)                          1484
(30.4, 79.33333329999999)               20
(25.75, 84.1666666)                     11
(29.85, 80.5333333)                     10
(31.3333333, 75.33333329999999)          3
(28.416666600000003, 77.0)               3
(28.6333333, 79.8)                       1
Name: Location, dtype: int64

In [29]:
df.drop(columns=['Location'], inplace=True)