In [1]:
import re
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv('..\database\spatiotemporal_trn_data.csv')

C:\Users\JAYDEV~1\AppData\Local\Temp/ipykernel_1596/2484308083.py:1: DtypeWarning: Columns (8,11,13,18,21,22) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('..\database\spatiotemporal_trn_data.csv')

In [3]:
# drop columns with all null values
df = df.dropna(axis=1, how='all')

In [4]:
def get_date_dict(date_str):
    reg = re.compile(r"^(?P<yr>\d{4})-(?P<mon>\d{2})-(?P<day>\d{2})T(?P<hr>\d{2}):(?P<min>\d{2}):(?P<sec>\d{2})$")
    m = reg.match(date_str)
    return m.groupdict()

In [5]:
# Seperate date data
yr = []
mon = []
day = []
hr = []
mn = []
sec = []
for idx in range(0, len(df)):
    date_dict = get_date_dict(df.DATE[idx])
    yr.append(int(date_dict['yr']))
    mon.append(int(date_dict['mon']))
    day.append(int(date_dict['day']))
    hr.append(int(date_dict['hr']))
    mn.append(int(date_dict['min']))
    sec.append(int(date_dict['sec']))
    
df['YEAR'] = pd.Series(yr)
df['MONTH'] = pd.Series(mon)
df['DAY'] = pd.Series(day)
df['HOUR'] = pd.Series(hr)
df['MINUTES'] = pd.Series(mn)
df['SECONDS'] = pd.Series(sec)

In [6]:
# Add targets to same df
df['TARGETS'] = pd.read_csv('..\database\spatiotemporal_trn_targets.csv', names=['index', 'TARGETS'])['TARGETS']

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 934807 entries, 0 to 934806
Data columns (total 32 columns):
 #   Column                              Non-Null Count   Dtype
---  ------                              --------------   -----
 0   STATION                             934807 non-null  int64
 1   DATE                                934807 non-null  object
 2   LATITUDE                            934807 non-null  float64
 3   LONGITUDE                           934807 non-null  float64
 4   ELEVATION                           934807 non-null  float64
 5   NAME                                934807 non-null  object
 6   REPORT_TYPE                         934807 non-null  object
 7   SOURCE                              934807 non-null  int64
 8   HourlyAltimeterSetting              217039 non-null  object
 9   HourlyDewPointTemperature           916829 non-null  object
 10  HourlyDryBulbTemperature            923010 non-null  object
 11  HourlyPrecipitation                 3 non-null       object
 12  HourlyPresentWeatherType            398691 non-null  object
 13  HourlyPressureChange                4768 non-null    object
 14  HourlyPressureTendency              586427 non-null  float64
 15  HourlyRelativeHumidity              916208 non-null  float64
 16  HourlySkyConditions                 507788 non-null  object
 17  HourlySeaLevelPressure              670809 non-null  object
 18  HourlyStationPressure               24403 non-null   object
 19  HourlyWetBulbTemperature            24222 non-null   float64
 20  HourlyWindDirection                 925461 non-null  object
 21  HourlyWindGustSpeed                 1820 non-null    object
 22  HourlyWindSpeed                     924185 non-null  object
 23  ShortDurationPrecipitationValue150  59276 non-null   object
 24  REM                                 746601 non-null  object
 25  YEAR                                934807 non-null  int64
 26  MONTH                               934807 non-null  int64
 27  DAY                                 934807 non-null  int64
 28  HOUR                                934807 non-null  int64
 29  MINUTES                             934807 non-null  int64
 30  SECONDS                             934807 non-null  int64
 31  TARGETS                             934807 non-null  object
dtypes: float64(6), int64(8), object(18)
memory usage: 228.2+ MB

In [8]:
df.head()

,STATION,DATE,LATITUDE,LONGITUDE,ELEVATION,NAME,REPORT_TYPE,SOURCE,HourlyAltimeterSetting,HourlyDewPointTemperature,...,HourlyWindSpeed,ShortDurationPrecipitationValue150,REM,YEAR,MONTH,DAY,HOUR,MINUTES,SECONDS,TARGETS
0,42369099999,2013-05-05T11:30:00,26.760594,80.889339,124.96,"LUCKNOW, IN",FM-12,4,NaN,61,...,10,NaN,SYN06442369 31996 10909 10378 20159 40029 7050...,2013,5,5,11,30,0,2.49
1,42369099999,2019-01-23T22:00:00,26.760594,80.889339,124.96,"LUCKNOW, IN",FM-15,4,30.06,55,...,2,NaN,MET067METAR VILK 231630Z VRB02KT 2000 BR SCT02...,2019,1,23,22,0,0,1.24
2,42452099999,2005-02-17T08:30:00,25.160219,75.845631,273.10,"KOTA, IN",FM-12,4,NaN,51,...,5,NaN,SYN076AAXX 17034 42452 32996 32304 10196 2010...,2005,2,17,8,30,0,2.49
3,42369099999,1984-05-20T08:30:00,26.760594,80.889339,124.96,"LUCKNOW, IN",FM-12,4,NaN,41,...,0,NaN,SYN017333 20230 58034,1984,5,20,8,30,0,2.49
4,42503099999,2016-11-16T11:30:00,25.033333,88.133333,31.00,"MALDA, IN",FM-12,4,NaN,55,...,2,NaN,SYN04642503 32996 03202 10280 20127 40164 333 ...,2016,11,16,11,30,0,2.49

In [9]:
df.drop(["SOURCE", "REPORT_TYPE", "NAME", "REM", "DATE", "STATION", "HourlyPrecipitation", "HourlyPressureChange"], axis=1, inplace=True)

In [39]:
df.drop(["HourlyWindGustSpeed"], axis=1, inplace=True)

In [40]:
df.head()

,LATITUDE,LONGITUDE,ELEVATION,HourlyAltimeterSetting,HourlyDewPointTemperature,HourlyDryBulbTemperature,HourlyPresentWeatherType,HourlyPressureTendency,HourlyRelativeHumidity,HourlySkyConditions,...,HourlyWindDirection,HourlyWindGustSpeed,ShortDurationPrecipitationValue150,YEAR,MONTH,DAY,HOUR,MINUTES,SECONDS,TARGETS
0,26.760594,80.889339,124.96,NaN,61,100,||HZ,9.0,27.0,FEW:01 98,...,90,NaN,NaN,2013,5,5,11,30,0,2.49
1,26.760594,80.889339,124.96,30.06,55,61,NaN,NaN,83.0,SCT:04 20 SCT:04 100,...,VRB,NaN,NaN,2019,1,23,22,0,0,1.24
2,25.160219,75.845631,273.10,NaN,51,67,NaN,9.0,57.0,NaN,...,230,NaN,NaN,2005,2,17,8,30,0,2.49
3,26.760594,80.889339,124.96,NaN,41,94,||DU,9.0,16.0,NaN,...,0,NaN,NaN,1984,5,20,8,30,0,2.49
4,25.033333,88.133333,31.00,NaN,55,82,NaN,9.0,39.0,NaN,...,320,NaN,NaN,2016,11,16,11,30,0,2.49

In [41]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 934807 entries, 0 to 934806
Data columns (total 23 columns):
 #   Column                              Non-Null Count   Dtype
---  ------                              --------------   -----
 0   LATITUDE                            934807 non-null  float64
 1   LONGITUDE                           934807 non-null  float64
 2   ELEVATION                           934807 non-null  float64
 3   HourlyAltimeterSetting              217039 non-null  object
 4   HourlyDewPointTemperature           916829 non-null  object
 5   HourlyDryBulbTemperature            923010 non-null  object
 6   HourlyPresentWeatherType            398691 non-null  object
 7   HourlyPressureTendency              586427 non-null  float64
 8   HourlyRelativeHumidity              916208 non-null  float64
 9   HourlySkyConditions                 507788 non-null  object
 10  HourlySeaLevelPressure              670809 non-null  object
 11  HourlyStationPressure               24403 non-null   object
 12  HourlyWetBulbTemperature            24222 non-null   float64
 13  HourlyWindDirection                 925461 non-null  object
 14  HourlyWindGustSpeed                 1820 non-null    object
 15  ShortDurationPrecipitationValue150  59276 non-null   object
 16  YEAR                                934807 non-null  int64
 17  MONTH                               934807 non-null  int64
 18  DAY                                 934807 non-null  int64
 19  HOUR                                934807 non-null  int64
 20  MINUTES                             934807 non-null  int64
 21  SECONDS                             934807 non-null  int64
 22  TARGETS                             934807 non-null  object
dtypes: float64(6), int64(6), object(11)
memory usage: 164.0+ MB

In [37]:
df["HourlyWindGustSpeed"].value_counts()

21.0    510
23.0    461
18.0    169
17.0    163
25.0    139
29.0    114
28.0     39
19.0     36
24.0     28
34.0     27
23       19
26.0     19
32.0     15
22.0     10
21        8
40.0      7
46.0      6
30.0      6
31.0      5
20.0      4
17        4
25        3
51.0      3
18        2
54.0      2
29        2
26        1
31        1
11        1
104s      1
11.0      1
58.0      1
99s       1
43.0      1
59.0      1
96s       1
20        1
52        1
41.0      1
37.0      1
16.0      1
60.0      1
52.0      1
39.0      1
49.0      1
Name: HourlyWindGustSpeed, dtype: int64

In [38]:
df.HourlyStationPressure = df["HourlyStationPressure"].astype(float)

ValueError: could not convert string to float: '25.78s'

In [22]:
pd.set_option('display.max_rows', 100)

In [23]:
print(df['HourlyPresentWeatherType'].value_counts())

||HZ            282782
||DU             31236
||FG             25866
||FU             23421
||RA             18102
||TS              9219
||DZ              5861
||SHRA TS          823
||SHRA             260
||HZ DU            112
||FU HZ             96
||RA TS             95
||HZ RA             87
||FG FG             83
||SH                67
||FU FG             56
||FG RA             51
||TS RA             46
||DZ DZ             40
||HZ DZ             39
||s                 33
||RA RA             32
||HZ TS             30
||DU RA             21
||FC                21
||TS SHRA TS        20
||DU DU             18
||SQ                16
||DZ RA             15
||FG SHRA           11
||FG DZ             10
||FU TS              9
||HZ SHRA            9
||DRSN               8
||DU TS              8
||DU SHRA            7
||SHRASN             6
||FZRA               5
||DU TS RA           5
||FG RA TS           5
||HZ FG              5
||RA SHRA TS         4
|FU |                4
||HZ TS SHRA         3
||FZDZ               3
||SG                 3
||FU DU              3
||DU TS SHRA         3
||SHSN               3
||DU DZ              2
||HZ TS RA           2
||HZ RA TS           2
||DZ TS              2
||SHRA TS TS         2
||FU FG RA           2
||FG DU              1
||TS SHRA            1
||TS DU              1
||TS DZ              1
||FU DZ              1
||HZ DZ DZ           1
||FU RA              1
||PL                 1
||DU FG              1
||TS TS              1
|HZ |                1
|DZ |                1
||DZ SHRA TS         1
||HZ SHRA TS         1
||TS FG SHRA         1
||FU RA TS           1
||TS DU RA           1
Name: HourlyPresentWeatherType, dtype: int64

In [8]:
## NOTE

# DROP REM, NAME, REPORT_TYPE, SOURCE
# DROP HourlyPreceptation
# FILL for others
# see https://www.aviationweather.gov/metar/symbol for HourlyPresentWeatherType

In [40]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import OrdinalEncoder
from sklearn.impute import SimpleImputer

In [41]:
encoder = OrdinalEncoder()
imputer = SimpleImputer(missing_values=np.nan, strategy='median')
model = RandomForestClassifier()

In [69]:
def splt(x):
    try:
        x = float(x)
    except:
        m = re.match(r"^(?P<dig>\d+.\d+)V$", x)
        x = float(m.groupdict()['dig'])
        
    if x < 0.1:
        return 1
    elif x < 1:
        return 2
    elif x < 2:
        return 3
    elif x < 4:
        return 4
    else:
        return 5

In [70]:
df['target_labels'] = df['TARGETS'].apply(splt)

In [71]:
yy = df['target_labels']

XX = encoder.fit_transform(df['HourlyPresentWeatherType'].values.reshape(-1,1))
XX = imputer.fit_transform(XX)

xtrain, xtest, ytrain, ytest = train_test_split(XX, yy)

In [72]:
model.fit(xtrain, ytrain)

RandomForestClassifier()

In [73]:
from sklearn.metrics import classification_report, multilabel_confusion_matrix

In [74]:
ypreds = model.predict(xtest)

In [75]:
report = classification_report(ytest, ypreds)

In [76]:
print(report)

              precision    recall  f1-score   support

           1       0.31      0.00      0.00      2459
           2       0.65      0.27      0.38     15889
           3       0.44      0.04      0.07     55730
           4       0.60      0.99      0.75    135859
           5       0.49      0.00      0.00     23765

    accuracy                           0.60    233702
   macro avg       0.50      0.26      0.24    233702
weighted avg       0.55      0.60      0.48    233702